<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Proitfolio Project</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/650ca713c7.js" crossorigin="anonymous"></script>

</head>

<body>
    <section id="home" id="header">
        <!-- ------------------------------------------------Navbar--------------------------------------- -->
        <nav>
            <div id="nav" class="nav">
                <div class="first">
                    <h1>My <span>Proitfolio</span></h1> 
                    <!-- <i id="setting" class="fa-solid fa-gear"></i> -->
                    <i id="bars" class="fa-solid fa-bars"></i>
                </div>
                <ul id="ul" class="ul">
                    <!-- <i class="fa-solid fa-xmark"></i> -->
                    <a href="#home">
                        <li>Home</li>
                    </a>
                    <a href="#about">
                        <li>About</li>
                    </a>
                    <a href="#mywork">
                        <li>Projects</li>
                    </a>
                    <a href="#contact">
                        <li>Contact Us</li>
                    </a>
                </ul>
            </div>
        </nav>
            <div class="content">
                <div class="left">
                    
                    <h2>Hey..</h2>
                    <h1>I am <span id="text">Baibhav</span></h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum reprehenderit cumque labore excepturi illo repudiandae impedit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, deserunt.</p>   
                    
                    <button class="btn">Contact Me</button>
                </div>
                <div class="right">
                    <img src="./images/human.jpg">
                </div>
            </div>
            
            <div class="center">
                <input id="switch" type="checkbox" name="">
            </div>
        </section>

        <section id="about">
               <!-- --------------------------------------About----------------------------------------------- -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="./images/hacker.jpg">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title my">About Me</h1>
                    <p>"Hello and welcome to my personal portfolio website! My name is Baibhav Singhal, and I am a student. I am passionate about web development, and I am eager to bring my skills and creativity to real-world projects. <br>

                        <br> During my studies, I have gained hands-on experience, and I have had the opportunity to work on several projects that have allowed me to apply what I have learned. From e-commerce website to personal proitfolio website, I
                        have honed my skills and gained valuable experience. <br>

                        <br> If you are interested in working with me or just want to get in touch, please don't hesitate to reach out through the contact page. I look forward to connecting with you! <br> Thank you for visiting my website, and I hope
                        you enjoy exploring my portfolio."</p>

                    <div class="skills">
                        <h1>Skills</h1>
                        <div class="s-1">
                            <li>Html</li>
                            <li>Css</li>
                            <li>JavaScript</li>
                        </div>
                        <div class="s-2">
                        <li>Node js</li>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

        </section>

                <!-- -------------------------------------------My PROJECT ------------------------------------------------- -->
        <section id="project">

            <div id="mywork">
                <h1 class="h1_work">My Projects</h1>

                <div class="work">

                    <div class="card">
                        <a href="caracom-netlify.app"><img style="height: 40vh;" src="./images/e-commerce page1.png"></a>
                        <div class="layer">
                            <h2>E-Commerce Website</h2>
                            <p>This is a e-commerce website name cara. Websites are not real</p>
                            <br>
                            <br>
                            <a target="_blank" href="https://caracom.netlify.app/"><i class="fa-solid fa-up-right-from-square"></i></a>
                        </div>
                    </div>

                    <div class="card">
                        <a href="https://facebook1clone.netlify.app"><img src="./images/facebook_clone.png"></a>
                        <div class="layer">
                            <h2>E-Commerce Website</h2>
                            <p>This is a clone of facebook. Websites are not real</p>
                            <br>
                            <br>
                            <a target="_blank" href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                        </div>


                    </div>

                    <div class="card">
                        <a href="https://my-youtube-clone-com.netlify.app/"><img style="height: 45vh;" src="./images/you tube page1.png"></a>
                        <div class="layer" style="color:white">
                            <h2>E-Commerce Website</h2>
                            <p>This is a food deliver website. Websites are not real</p>
                            <br>
                            <br>
                            <a target="_blank" href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                        </div>
                    </div>

                    <div class="card">
                        <a href="https://baibhavsinghal.netlify.app"><img src="./images/personal page1.png"></a>
                        <div class="layer" style="color:white">
                            <h2>Personal proitfolio websiet</h2>
                            <p>This is a proitf website. Websites are not real</p>
                            <br>
                            <br>
                            <a target="_blank" href="https://facebook1clone.netlify.app/"><i class="fa-solid fa-up-right-from-square"></i></a>
                        </div>
                    </div>

                </div>

                <div>
                    <button class="butn">Explore More</button>
                </div>
            </div>
            <!-- --------------------------------------------Contact us ----------------------------------------- -->
            <div id="contact">
                <div class="contact-left">
                    <h1 class="con">Contact</h1>
                    <a target="_blank" href="https://mail.google.com/mail/u/0/#sent?compose=GTvVlcSBpDfqqHRwVrBlXVbwqgBpRCpJThpQxVKVRmhVSsQDJBwfhllNMFTWvQDHNWjphVLxCBJNz">
                        <p style="color:var(--txt-color)"><i class="fa-sharp fa-solid fa-paper-plane"></i>baibhavsinghal8@gmail.com</p>
                    </a>
                    <!-- <p><i class="fa-solid fa-phone"></i>phone-no. - 2135234892</p> -->
                    <div class="social-icon">
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-github"></i></i></a>
                    </div>
                </div>
                <div class="contact-right">
                    <form method="POST">   
                        <input id="name" type="text" name="Name" placeholder="Enter your name" required>
                        <input id="email" type="email" name="email" placeholder="Enter your email" required>
                        <textarea id="textarea" name="textarea" rows="6" placeholder="Enter your message" required></textarea>
                        <button type="sumbit" class="btn">Send</button>
                    </form>
                </div>
            </div>
        </section>

        
        <!-- <section class="copy-right">
            <p>All rights are reserved &copy; by Baibhav Singhal</p>
        </section> -->
    </body>
<script src="script.js"></script>

</html>